{
	email {$CADDY_EMAIL}
}

{$API_DOMAIN} {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	# Uncomment if you want to hide API docs in production.
	# @docs path /swagger-ui* /v3/api-docs* /scalar*
	# respond @docs 404

	@grafanaRoot path /api/admin/dashboard/grafana
	redir @grafanaRoot /api/admin/dashboard/grafana/ 308

	handle /api/admin/dashboard/grafana/* {
		encode
		reverse_proxy grafana:3000
	}

	@sse path /api/v1/mail/drafts/stream
	handle @sse {
		reverse_proxy core:8080 {
			flush_interval -1
			header_down Cache-Control "no-cache"
			header_down X-Accel-Buffering "no"
		}
	}

	handle {
		encode
		reverse_proxy core:8080
	}
}
